#nav{ :style => "float:right; margin: -10px 0 0 0;" }
  %p{ :style => "margin: 0 2px; display: inline;" }= link_to "Main", "/"
  %p{ :style => "margin: 0 2px; display: inline;" }= link_to "Secrets", secrets_path
  %p{ :style => "margin: 0 2px; display: inline;" }= link_to "Users", users_path
  %p{ :style => "margin: 0 2px; display: inline;" }= link_to "Groups", groups_path
