
#user_nav{ :style => "float: right;" }  
  - if user_signed_in?  
    %p{ :style => "display: inline;" }= "Hello Mr. " + current_user.username.capitalize + " Anderson. Not the One?"  
    %p{ :style => "display: inline;" }= link_to "Get me out of here!", destroy_user_session_path

%link{"rel" => "stylesheet", "href" => "main.css", "type" => "text/css"}
- #%body{ :style => "background: #000000; color: #88dd00;"}

%p 
  Welcome to
  %b the Matrix!

%p Choose your pill:

%p
  %b
    %a.blue{ :href => "secrets" } Blue one
%p
  %b
    %a.red{ :href => "coward" } Red one
%br
%br
#right{ :style => "float: left;  font-family: monospace;" }
  %p{ :style => "margin: -3px 0;" } 1   6  I   %    F 
  %p{ :style => "margin: -3px 0;" } $   F  I   )    F 
  %p{ :style => "margin: -3px 0;" } ] S A  4O  O   HF 
  %p{ :style => "margin: -3px 0;" } D 4 (4 IO  OSUIHFO
  %p{ :style => "margin: -3px 0;" } DB4O55 SO   SUI FO
  %p{ :style => "margin: -3px 0;" } D[SOAS ID J BHA SA
  %p{ :style => "margin: -3px 0;" } NBSO SFIOHA S35 FO
  %p{ :style => "margin: -3px 0;" } AB $*(FIO A 5UIHF%
  %p{ :style => "margin: -3px 0;" } AB O SFIO 5O UIHF^
  %p{ :style => "margin: -3px 0;" } AB O SFIO $#S I34O
  %p{ :style => "margin: -3px 0;" } AB O{}}IO AO 345FO
  %p{ :style => "margin: -3px 0;" } AB OASFIO AO U HFO
  %p{ :style => "margin: -3px 0;" } A#$(*(((OHAOSU H3O
  %p{ :style => "margin: -3px 0;" } ABSOAS34OH OSU 5 O
  %p{ :style => "margin: -3px 0;" }  BSOASF345 4534H O
  %p{ :style => "margin: -3px 0;" }  B OA F  $ *( IH O
  %p{ :style => "margin: -3px 0;" }     A F    OS I   
  %p{ :style => "margin: -3px 0;" }       F    OS     
