
%h2 Secrets:

- @secrets.each do |s|
  %p{ :style => "display: inline;" }= s.content
  %p{ :style => "display: inline; font-size: 10px;" }= link_to "(remove)", secret_path( s ), :confirm => "Are you sure Mr. Anderson?", :method => :delete  
  %p
%p
%p= link_to "(+)", new_secret_path
%p
%p= link_to "Return to the origin", :root
